#container {
    display: flex;
    flex-direction: column;
    color: white;
}

/* Titulo em Destaque */

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    padding: 2.8rem 1.2rem 0;
    background-image: linear-gradient(to top, var(--black), rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../img/capa-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    text-indent: -3000px;
    position: relative;
    width: 40%;
    height: 4rem;
    background-image: url("../img/logoMobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* 
.title {
  width: 45%;  
}

.title img {
    width: 60%;
} */

.description {
    width: 45%;
    font-size: 0.8rem;
}

.btn-row {
    width: 70%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

button {
    padding: 0.4rem 1.2rem; 
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer; 
}

.btn-1 {
    background-color: white;
}

.btn-1:hover {
    background: var(--btnHover);
}

.btn-2 {
    background-color: var(--btn2Color);
    color: white;
}

.btn-2:hover {
    background-color: var(--btn2Hover);
}

/* Recomendados */
.recomendations{
    padding: 0 1.2rem;
    margin-top: -1.2rem
}

.content-row {
    margin-bottom: 2.4rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.cover {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
}

.windows {
    margin-right: 0.4rem;
    width: 45vw;
    height: 25vw;
}