.container {
    background-image: linear-gradient(to right, rgba(0,0,0,0.9),rgba(255,255,255, 0.1),rgba(255,255,255, 0.1) ), url("../img/capa-house.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 48px;
}

.main-title {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.title {
    font-size: 40px;
    margin-bottom: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description {
    margin-bottom: 40px;
}

.btn {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 16px;
    font-size: 12px;
    cursor: pointer;
}

.btn i {
    margin-right: 8px;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: all 0.4s;
}

/* Recomendações */
.content-row {
    margin: 0px 48px 40px;
    width: 100%;
}

.content-row:first-child {
    margin-top: -140px;
}

.content-row > h4 {
    margin-bottom: 8px;
}

.recomendations{
    display: flex;
}

.shows {
    /* width: 15vw; */
    width: 295px;
    height: 165px;
    margin-right: 6px;
}

img {
    border-radius: 8px;
    height: 100%;
}

.owl-dots {
    display: none;
}