:root {
    --red: #e50914;
    --black: #141414;
    --grey: #AAA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background: var(--black);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--black);
}

a{
    text-decoration: none;
    color: var(--grey);
}

/* Navegação */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.8), rgba(255,255,255,0));
}

.logo{
    color: var(--red);
    font-family: 'Arial Black', Times, sans-serif;
    font-size: 40px;
}

nav a {
    margin-right: 10px;
}

nav a:hover {
    color: white;
    transition: all 0.5s;
}