@media (max-width: 768px) {    
    /*  header  */
    .logo {
        font-size: 15px;
    }

    .nav-bar{
        font-size: 10px;
        padding: 0 12px;
        /* width: 120px; */
    }

    nav a {
        margin-right: 5px;
    }

    /* main title */
    .container {
        height: 30vh;
        padding-left: 12px;
    }

    .main-title{
        margin: 0;
    }

    .description {
        display: none;
    }

    .title {
        font-size: 24px;
        margin: 0;
    }

    .btn {
        padding: 6px 15px;
        font-size: 8px;
        margin-right: 8px;
        margin-top: 15px;
    }

    /* recomendations */
    section{
        margin-top: 23vh;
    }

    .content-row {
        margin: 25px 12px 25px 0;
    }

    .shows {
        width: 44vw;
        height: 12vh;
    }

    img {
        border-radius: 4px;
    }
}